.mainAbout{
    
    .background-color {
        background-color: #d7ccc8;
    }
    
    .background-color > img {
        transform: translateY(20%);
    }
    
    .title-text {
        margin-bottom: 0 !important;
        font-size: 20px;
        letter-spacing: 5px;
        color: #bcaaa4;
    }
    
    .title-text:first-child {
        color: #d7ccc8;
    }
    
    .position {
        letter-spacing: 2px;
    }
    
    .divider {
        color: #d7ccc8;
    }
    
    #pills-tabContent {
        padding-top: 0 !important;
    }
    
    .tab-pane {
        color:#8d6e63; 
    }
}